/* This css file contains the stylings for the header component. */

.header{
    margin-top: 60px
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: #05deee;
    
}

.headerTitleSm{
    position: absolute;
    top: 13%;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.headerTitleLg{
    position: absolute;
    top: 14%;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}